#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{

    border: solid 2px rgb(5, 215, 5);
    border-radius: 10px;
    margin-bottom: 4%;
    text-align: center;
}
.user-list{
    text-align: center;
}
.new-user{
        border: none;
        outline: none;
        padding: 12px 20px;
        font-size: 18x;
        margin: 2% 0;
        border-radius: 5px;
        color: #FFFFFF;
        background-color: rgb(71, 161, 11);
        cursor: pointer;
    }